workspace/fbattribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:interface="http://www.siemens.com/automation/Openness/SW/Interface/v3"
    xmlns:enums="enums"
    xmlns:patterns="patterns">

    <xs:import schemaLocation="./enums.xsd" namespace="enums"/>
    <xs:import schemaLocation="./patterns.xsd" namespace="patterns" />

    <xs:import namespace="http://www.siemens.com/automation/Openness/SW/Interface/v3" schemaLocation="./fbinterface.xsd"/>

    <xs:annotation>
        <xs:documentation>
            Schema for a function block.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="AutoNumber" type="xs:boolean" default="true">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block is an auto-numbered function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CodeModifiedDate" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>
                        Time when the function block was last modified.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CompileDate" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>
                        Time when the function block was compiled.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="CreationDate" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>
                        Time when the function block was created.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="HeaderAuthor" type="xs:string" default="">
        <xs:annotation>
            <xs:documentation>
                        Author of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="HeaderFamily" type="xs:string" default="">
        <xs:annotation>
            <xs:documentation>
                        Family of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="HeaderName" type="xs:string" default="">
        <xs:annotation>
            <xs:documentation>
                        Name of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="HeaderVersion" type="xs:string" default="0.1">
        <xs:annotation>
            <xs:documentation>Version of the function block.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Interface" type="interface:InterfaceFB_T">
        <xs:annotation>
            <xs:documentation>
                        Contains the interface of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="InterfaceModifiedDate" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>
                        Time when the interface of the function block was last modified.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IsConsistent" type="xs:boolean" default="true">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block is consistent.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IsKnowHowProtected" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block is know-how protected.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IsWriteProtected" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block is write protected.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MemoryLayout" type="enums:MemoryLayout">
        <xs:annotation>
            <xs:documentation>
                        Contains the memory layout of the function block.
            </xs:documentation>
        </xs:annotation>

    </xs:element>
    <xs:element name="ModifiedDate" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>
                        Time when the function block was last modified.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Name" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                        Name of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Number" type="xs:int">
        <xs:annotation>
            <xs:documentation>
                        Number of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ParameterModified" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>
                        Time when the parameters of the function block were last modified.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="PLCSimAdvancedSupport" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block supports advanced simulation in PLC Sim.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ProgrammingLanguage" type="enums:ProgrammingLanguage">
        <xs:annotation>
            <xs:documentation>
                        Programming language of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SecondaryType" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                        Secondary type of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="StructureModified" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>
                        Time when the structure of the function block was last modified.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AssignedProDiagFB" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                        ProDiag function block assigned to the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ISMultiInstanceCapable" type="xs:boolean">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block is multi-instance capable.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Supervisions" type="xs:string" default="no supervisions">
        <xs:annotation>
            <xs:documentation>
                        Supervisions of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IsIECCheckEnabled" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block is IECCheck enabled.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="IsRetainMemResEnabled" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block is retain memory resource enabled.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="MemoryReserve" type="xs:int" default="0">
        <xs:annotation>
            <xs:documentation>
                        Memory reserve of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="RetainMemoryReserve" type="xs:int" default="0">
        <xs:annotation>
            <xs:documentation>
                        Retain memory reserve of the function block. If the "IsRetainMemResEnabled" attribute's value is "false", and the "RetainMemoryReserve" attribute is not equal to "0", an exception is thrown.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DownloadWithoutReinit" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block can be downloaded without reinitialization.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LibraryType" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                        Library type of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LibraryTypeVersionGuid" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                        Library type version GUID of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ParameterPassing" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block supports parameter passing.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="UDABlockProperties" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                        UDABlockProperties of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="UDAEnableTagReadback" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block supports UDAEnableTagReadback.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="HandleErrorsWithinBlock" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block supports HandleErrorsWithinBlock.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="LibraryConformanceStatus" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                        Library conformance status of the function block.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SetENOAutomatically" type="xs:boolean">
        <xs:annotation>
            <xs:documentation>
                        Indicates whether the function block supports SetENOAutomatically.
            </xs:documentation>
        </xs:annotation>
    </xs:element>


</xs:schema>